{
  "presets": ["env", "flow", "react", "stage-0"],
  "env": {
    "es": {
      "ignore": ["__tests__", "node_modules"],
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "flow",
        "react",
        "stage-0"
      ]
    },
    "esnext": {
      "ignore": ["__tests__", "node_modules"],
      "presets": ["es2016", "es2017", "flow", "react", "stage-0"]
    },
    "node": {
      "ignore": ["__tests__", "node_modules"],
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "6.0.0"
            }
          }
        ],
        "flow",
        "react",
        "stage-0"
      ]
    }
  }
}
